.medal-btn {
    position:relative;
    padding: 6px 15px;
    color:#fafafa;
    cursor: pointer;
  }
   
  .primary-btn {
    border: 2px solid rgb(101, 182, 43);
    background-color:rgb(116, 204, 53);
    color: #fff;
    font-weight: 600;
  }

  .primary-btn:hover  {
    background-color: #fafafa;
    color:rgb(101, 182, 43);
  }
   
  .default-btn {
    color: #fff;
    border: 2px solid #f4f5f7;
    background-color: #000;
  }
   
  .default-btn:hover  {
    background-color:#fafafa;
    color:#000;
  }

  .danger-btn {
    border: 2px solid #fff;
    border: 2px solid #f7f4f5;
    background-color:#e70d3c;
  }
   
  .danger-btn:hover  {
    background-color:#a30909;
    color:#ffff;
  }

  